@tailwind base;
@tailwind components;
@tailwind utilities;

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1); /* Light gray */
  border-left: 4px solid #000; /* Black */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.form-contianer::before {
  content: "";
  color: #000;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
  background: url("../assets/bg-5.jpg") no-repeat center/cover;
  background-blend-mode: saturation;
}

form {
  background-color: rgba(0, 0, 0, 0.495);
}
/* HTML: <div class="loader"></div> */
.loader {
  --c: no-repeat linear-gradient(orange 0 0);
  background: var(--c), var(--c), var(--c), var(--c), var(--c), var(--c),
    var(--c), var(--c), var(--c);
  background-size: 16px 16px;
  animation: l32-1 1s infinite, l32-2 1s infinite;
}
@keyframes l32-1 {
  0%,
  100% {
    width: 45px;
    height: 45px;
  }
  35%,
  65% {
    width: 65px;
    height: 65px;
  }
}
@keyframes l32-2 {
  0%,
  40% {
    background-position: 0 0, 0 50%, 0 100%, 50% 100%, 100% 100%, 100% 50%,
      100% 0, 50% 0, 50% 50%;
  }
  60%,
  100% {
    background-position: 0 50%, 0 100%, 50% 100%, 100% 100%, 100% 50%, 100% 0,
      50% 0, 0 0, 50% 50%;
  }
}
